<div class="manage-book">
  <h1>Agregar Libro</h1>
  <form (ngSubmit)="onSubmit(bookForm.value)" #bookForm="ngForm" class="manage-book form" novalidate>
    <mat-form-field>
      <input matInput required placeholder="Nombre del libro" [(ngModel)]="book.nombre" name="nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Editorial" [(ngModel)]="book.editorial" name="editorial">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Autor" [(ngModel)]="book.autor" name="autor">
    </mat-form-field>
    <mat-form-field>
      <input appNumbers matInput name="min" required placeholder="Edición" [(ngModel)]="book.edicion" name="edicion">
    </mat-form-field>
    <div class="button-row">
      <button type="submit" mat-raised-button color="primary" [disabled]="!bookForm.form.valid" mat-raised-button>Guardar</button>
    </div>
  </form>
</div>
