<div class="nav">
    <mat-toolbar color="primary">
        <span class="nav-acount">
          <mat-icon>account_circle</mat-icon>
        </span>

        <span class="nav-menu">
          <mat-icon>menu</mat-icon>
        </span>

        <span class="nav-power">
          <mat-icon>power_settings_new</mat-icon>
        </span>

      </mat-toolbar>

</div>
