<div class="example-container books_component mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Burcar por nombre y/o autor">
    </mat-form-field>
  </div>

  <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="editorial">
      <th mat-header-cell *matHeaderCellDef> Editorial </th>
      <td mat-cell *matCellDef="let element"> {{element.editorial}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="edicion">
      <th mat-header-cell *matHeaderCellDef> Edición del Libro</th>
      <td mat-cell *matCellDef="let element"> {{element.edicion}}
      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="deleteBook([element])">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsBooks"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsBooks;"></tr>
  </table>
</div>
<div class="books_component buttons-block button-row">
  <button mat-raised-button color="primary" (click)="openDialog()">Agregar Libro</button>
</div>
