/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
  overflow: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.nav-menu{
  margin: 0 auto;
  display:block;
}
.nav-power{
  display:block;
}
.books_component >.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.books_component.buttons-block{
  margin-top: 5%;
}
.books_component.buttons-block > button{
  margin:0 auto;
  display:block;
  border-radius: 120px;
}
th.mat-header-cell{
  text-align: center !important
}
 td.mat-cell{
  text-align: center
}
.manage-book h1 {
 text-align: center;
 font-size: 1em;
}
.manage-book > .button-row button {
  border-radius: 120px;
  margin:0 auto;
  display:block;
 }
 .modal-component{
  align-items: flex-start;
  justify-content: space-between;
 }
.close{
  float: right;
 }

